extends layout

block content
  .row
    .col-sm-12
      h2.title Smashhh
  .row
    img#swatter(src="/img/swatter.png")
    .content.col-sm-12
      .row.col-sm-12.main-info
        .col-xs-3.score
          H3 score
          p.score-number
        .col-xs-3
          H3 level
          p.level-number
        .col-xs-3
          button.start.btn-success START!
        .col-xs-3
          button.stop.btn-danger STOP!
      .row.col-sm-12
        .game-board
          .row
            .col-xs-3.gamecell.1-1
              h1.cell
            .col-xs-3.gamecell.1-2
              h1.cell
            .col-xs-3.gamecell.1-3
              h1.cell
            .col-xs-3.gamecell.1-4
              h1.cell
          .row
            .col-xs-3.gamecell.2-1
              h1.cell
            .col-xs-3.gamecell.2-2
              h1.cell
            .col-xs-3.gamecell.2-3
              h1.cell
            .col-xs-3.gamecell.2-4
              h1.cell
          .row
            .col-xs-3.gamecell.3-1
              h1.cell
            .col-xs-3.gamecell.3-2
              h1.cell
            .col-xs-3.gamecell.3-3
              h1.cell
            .col-xs-3.gamecell.3-4
              h1.cell
          .row
            .col-xs-3.gamecell.4-1
              h1.cell
            .col-xs-3.gamecell.4-2
              h1.cell
            .col-xs-3.gamecell.4-3
              h1.cell
            .col-xs-3.gamecell.4-4
              h1.cell
      .row.game-over
      
        
  
