body
  padding: 50px
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif


.gamecell
  background-color: lightblue
  height: 130px
  border: 1px solid black

.active
  background-color: lightgreen

.smashed
  background-color: pink
